@import "tailwindcss";

.gradient-star {
  background: linear-gradient(90deg, #facc15, #f59e0b) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
